<!Doctype>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>edit comment</title>
</head>
<body>
<h1>Edit Comment</h1>
<div>
    <form th:object="${comment}" th:action="@{/process-edit-comment}" method="post">
        <input type="text" th:field="${comment.comment}" name="content"/>
        <input type="hidden" th:field="${commentId}" name="commentId"/>
        <input type="hidden" th:field="${postId}" name="postId"/>
        <input type="submit" value="save comment"/>
    </form>

</div>
</body>
</html>