<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Post</title>
</head>
<body>
<h1>Update Post</h1>
<form th:action="@{/process-update}" th:object= "${post}" method="post">
    <input type="hidden" th:field="*{postId}" />
    <label for="title">Title:</label>
    <input type="text" id="title" th:field="*{title}" /><br><br>

    <label for="excerpt">Excerpt:</label>
    <input type="text" id="excerpt" th:field="*{excerpt}" /><br><br>

    <label for="content">Content:</label>
    <textarea id="content" th:field="${post.content}"></textarea><br><br>

    <label for="author">Author:</label>
    <input type="text" id="author" th:field="*{author}" /><br><br>
    <label for="tags">Tags (separate by #):</label>
    <input type="text" id="tags" th:field="*{tagsAsString}" placeholder="tag1#tag2#tag3" /><br><br>
    <button type="submit">Update Post</button>
</form>
</body>
</html>